<settings> 
<servers>
  <server>
    <id>next-work-codeartifact-nextwork-rohan</id>
    <username>aws</username>
    <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
  </server>
</servers>

<profiles>
  <profile>
    <id>next-work-codeartifact-nextwork-rohan</id>
    <activation>
      <activeByDefault>true</activeByDefault>
    </activation>
    <repositories>
      <repository>
        <id>next-work-codeartifact-nextwork-rohan</id>
        <url>https://next-work-996091555309.d.codeartifact.us-east-1.amazonaws.com/maven/codeartifact-nextwork-rohan/</url>
      </repository>
    </repositories>
  </profile>
</profiles>

<mirrors>
  <mirror>
    <id>next-work-codeartifact-nextwork-rohan</id>
    <name>next-work-codeartifact-nextwork-rohan</name>
    <url>https://next-work-996091555309.d.codeartifact.us-east-1.amazonaws.com/maven/codeartifact-nextwork-rohan/</url>
    <mirrorOf>*</mirrorOf>
  </mirror>
</mirrors>

</settings>